# Directories to ignore
.dev-assets
.vscode
scripts

# Files to ignore
.editorconfig
.gitignore
.markdownlint-cli2.jsonc
.prettierignore
.shellcheckrc
azure-pipelines.yml
eslint.config.js
lefthook.yml
prettier.config.js
