/**
 * CALC FUNCTION IN @MEDIA
 */

:root {
	--size: 12px;
}

.example {
	max-width: calc(var(--size) * 1rem);
}

@media screen and (min-width: calc( var(--size) * 1rem)) {
	.example {
		max-width: calc(var(--size) * 1rem);
	}
}

/* With CSS nesting */
@media only screen and (max-width: calc( var(--size) * 1rem)) {
	.example {
		fieldset,
		span {
			max-width: calc(var(--size) * 1rem);
			flex: 0 0 100%;
			&.a,
			&.b {
				flex: 0 0 100%;
			}
		}
	}
}

.example {
	@media only screen and (max-width: calc( var(--size) * 1rem)) {
		fieldset,
		span {
			max-width: calc(var(--size) * 1rem);
			flex: 0 0 100%;
			&.a,
			&.b {
				flex: 0 0 100%;
			}
		}
	}
}
