/**
 * GRID PLACEMENT SLASH
 */

/* Property value slash doesn't have its own syntax highlighting */
.example {
  grid-column: 1/-1;
  grid-row: 1 / 3;

  width: clamp(100px, calc(30% / 2rem - 10px), 900px);
  width: some-edgy-new-function(30% / 2rem + 10px);
}
