/**
 * GRID PLACEMENT SLASH
 */

/* Property value slash doesn't have its own syntax highlighting */
.example {
  grid-column: 1/-1;
  grid-row: 1 / 3;
}



.nested-example {
  div:active {gap:0}

  /* Unknown use case for active as a property value so it's always a selector */
  select :active,
  select:active
  {
    content: '{'
    color:active;

    .nested-example {
      div:active {gap:0}

      div {
        content: '{'
      }

      select :active,
      /* Unknown use case for active as a property value so it's always a selector */
      select:active
      {
        color:active
      }
    }
  }
}
