/**
 * FUNCTION NESTING DEMO
 */

.example {
  margin-top: calc(600 / 16 * 1rem);

  margin-bottom: calc( (768 / 16) * 1rem);
  margin-bottom: calc( calc(768 / 16) * 1rem);

  margin-right: calc((768 / 16 * (768 / 16)) * 1rem);
  margin-right: calc( calc(768 / 16 * calc(768 / 16) ) * 1rem);

  margin-left: calc( (768 / 16 * (768 / 16 + (768 / 16) ) ) * 1rem);
  margin-left: calc( calc(768 / 16 * calc(768 / 16 + calc(768 / 16) ) ) * 1rem);

  padding-top: calc( (768 / 16 * (768 / 16 + (768 / 16 - (768 / 16)))) * 1rem);
  padding-top: calc( calc(768 / 16 * calc(768 / 16 + calc(768 / 16 - calc(768 / 16) ) ) ) * 1rem);
}

.at-media-example {
  @media screen and (max-width: calc( (1280 / 16) * 1rem) ) {
    max-width: calc( (768 / 16) * 1rem);
    span {
      max-width: calc( (600 / 16) * 1rem);
    }
  }
}

@media screen and (max-width: calc( (1280 / 16) * 1rem) ) {
  .at-media-example {
    max-width: calc( (768 / 16) * 1rem);
    span {
      max-width: calc( (600 / 16) * 1rem);
    }
  }
}
