.valid-delimiters {
  grid-column: 1/-1;
  grid-row: 1 / 3;
  font: 16px/1.5 'Helvetica Neue', sans-serif;
  border-radius:50% / 30%;
  box-shadow:10px 10px 5px rgba(0,0,0,0.5) / inset;
  box-shadow:10px 10px 5px rgba(0,0,0,0.5) / rgba(0,0,0,0.5) inset;
  background:url("image.jpg") / cover;
  grid:auto-flow dense / auto auto;
  aspect-ratio: 3 / 4;

  @container (min-aspect-ratio: 3 / 2) {}

  @media (min-aspect-ratio: 3 / 4) and (max-aspect-ratio: 20 / 17) {}
}

.invalid-delimiters {
  content: '/';
  content: "/";
  src: url("/webfont.woff2") format("woff2"), url("/webfont.woff") format("woff");
  width: some-edgy-new-function(30% / 2rem + 10px);
  max-width: calc((768 / 16) * 1rem);
  content:ATTR(VAR(--name) px, "N/A");
  content:ATTR(VAR(--name) px, 'N/A');
  content:url(http://github.com/);

  a[href^='/page'] {gap: 0;}

  @import "/css/styles.css";
  @import url("/1.css");
  @import url("https://fonts.googleapis.com/css?family=Open+Sans");
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  @namespace "/";

  @namespace pre "http://url/";

  a{content: url (http://a.pl/)}
}
